@font-face {
  font-family: 'Chinese';
  src: url('./font/AlimamaDongFangDaKai-Regular.woff');
  src: url('./font/AlimamaDongFangDaKai-Regular.woff') format('woff'),
       url('./font/AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
}


:root {
  font-family: Chinese, "Microsoft YaHei", sans-serif;
  
  font-size: 62.5%;
  --color-text: black;
  --color-text-white: #fff;
  --color-card: rgb(71, 79, 113);
  
  --margin-title-top: 5rem;
  --margin-title-left: 6rem;
  --margin-detail-top: 13rem;
  --margin-item-top: 5rem;
  --margin-btn-textToIcon: 1.6rem;

  --border-btn-gray: 2px solid rgb(230, 230, 230);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    color: var(--color-text);
}

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.icon {
  width: 2rem;
  height: 2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}